header.header 
    .header_column
        a(href="/").header__logo
            i.fab.fa-youtube
    .header_column 
        ul 
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name} profile
                li 
                    a(href="/users/edit") Edit profile
                li 
                    a(href="/users/logout") Logout
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login
            li 
                a(href="/") Home
            li 
                a(href="/search") Search