extends layouts/main.pug

block content 
    .form-container 
        form(action=`/videos${routes.editVideo}`, method="POST")
            input(type="text",placeholder="Title", name="title", value=video.title, required)
            textarea(type="description", placeholder="Description")
            input(type="submit", value="Update Video")
        a.form-container-link.form-container-link-delete(href=`/videos${routes.deleteVideo}`) Delete Video

