extends layouts/main.pug
include mixins/videoBlock

block content 
    div.video-grid
        each video in videos 
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
        else 
            li Sorry nothing found.