extends layouts/main.pug
include mixins/videoBlock

block content 
    div.search__bar
        form(method="GET").search__form
            input(placeholder="Searcy by title", name="keyword", type="text")
            button
                i.fas.fa-search

    each video in videos 
        +videoBlock(video)