extends layouts/main.pug
include mixins/videoBlock

block content 
    div.profile__data
        div.user__box
            if loggedInUser.avatarUrl === ""
                img.header__avatar(src="https://icon-library.com/images/anonymous-user-icon/anonymous-user-icon-2.jpg")
            else 
                if loggedInUser.avatarUrl
                    if loggedInUser.avatarUrl.includes("github")
                        img.header__avatar(src=loggedInUser.avatarUrl)
                    else 
                        img.header__avatar(src=loggedInUser.avatarUrl)
            h1=user.name
    div#video__box
        p #{user.name}'s video 
        div.video-grid
            each video in user.videos
                +videoBlock(video)
            else
                li Sorry nothing found. 